[submodule "bundle/dracula"]
	path = bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule "zsh/powerlevel9k"]
	path = zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
